/* Import fonts from google fonts*/

@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');


:root{
    --primary-color: #e5df45;
    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive;
}



.primary-color{
    color: var(--primary-color);
}

.fa-shopping-cart{
    color: black
}

.font-roboto{
    font-family: var(--roboto)
}

.navbar-nav{
    padding: 0.8em 0em;
}

.navbar-nav ,nav-link{
    font-family: var(--roboto);
    font-size: 1.1em;
    color:currentColor;
}

.form-inline{
    font-family: var(--roboto);
}


/*Slider One*/

.site-slider{
    position: relative;
}

.position-top{
 position:absolute;
    top: 40%;
}


.site-slider .slider-btn .previous,
.site-slider .slider-btn .next{
    background-color:darkgreen;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
    opacity: 0;
    transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .previous,
.site-slider:hover .slider-btn .next{
    opacity: 1;
}

.right-0
{
    right: 0;
}

.position-left-0
{
    left: 0 !important;
}

/* Slick Dots*/

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0%;
    left: inherit;
}

.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: black;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 2.205);
}

/* Customs for item.php */
.qty-text-area {
    border: 0;
    box-shadow: none;
    background: none;
    color: white;
    text-align: center;
}

/* .qty-text-area: {
    outline: none;
}  */
/* .qty-btn:focus:active:visited:checked {
    outline: none;
    box-shadow: none;
    background: red;
    color: red;
}  */

.banner-image {
    max-height: 200px;
}

.card{
    border: 0px; 
    
}

.img-fluid {
  height: auto;
}

/* Import fonts from google fonts*/

@import url('https://fonts.googleapis.com/css?family=Anton|Gugi|Lato|Roboto|Sofia&display=swap');


:root{
    --primary-color: #e5df45;
    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive;
}



.primary-color{
    color: var(--primary-color);
}

.fa-shopping-cart{
    color: black
}

.font-roboto{
    font-family: var(--roboto)
}

.navbar-nav{
    padding: 0.8em 0em;
}

.navbar-nav ,nav-link{
    font-family: var(--roboto);
    font-size: 1.1em;
    color:currentColor;
}

.form-inline{
    font-family: var(--roboto);
}


/*Slider One*/



.site-slider{
    position: relative;
}

.position-top{
 position:absolute;
    top: 40%;
}


.site-slider .slider-btn .previous,
.site-slider .slider-btn .next{
    background-color:darkgreen;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
    opacity: 0;
    transition: opacity 1s ease;
}

.site-slider:hover .slider-btn .previous,
.site-slider:hover .slider-btn .next{
    opacity: 1;
}

.right-0
{
    right: 0;
}

.position-left-0
{
    left: 0 !important;
}



/* Slick Dots*/

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0%;
    left: inherit;
}

.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: black;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 2.205);
}


.card.product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 60%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  float: right;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

shopping-cart-card{
    text-align: left;
}

cart-header.head-text{
    padding-left: 2em;
}

.shopping-cart-card {
    max-width: 20%;
    margin: 1em;
}

.table{
    width: 98%;
    border-color: green;
}



th, td {
    padding: 10px;
    text-align: left;
}

th, tr, td {
    column-width: 10%;
   text-align: left
}

td a { 
   display: block;
    text-decoration: none!important;
    text-decoration-color: black!important;
   color:black;
}

td{
    
}


.fa-times{
    color:black;
    
}

.fa-times:hover{
    color: red;
}

.proceed-btn{
    margin-bottom: 1em;
    
}

#proceed {
    background-color: gainsboro;
    border-color: gainsboro;
    color: green;
    display: block;
    width: 75%;
    margin: 0 auto;
}

#proceed:hover{
    background-color: darkgreen;
    border-color: green;
    color: gainsboro;
    width: 80%;
}

#empty{
   
    background-color: gainsboro;
    border-color: gainsboro;
    color:red;
    
    display: block;
    width: 75%;
    margin: 0 auto;
}
    
#empty:hover{
    background-color: darkred;
    border-color: darkred;
    color: gainsboro;
    width: 80%;
    
}

#container{ 
    text-align: center;
    
}


/* Border for footer WIP */
/* .footer-cell {
    border: solid #adadad 1px;
} */

/* Customs for item.php ends */
